<h1 class="content-title">Meet the staff</h1>
<hr>
<img>
<div class="staff-name">Tom Bruno</div>
<hr>
<img>
<div class="staff-name">Alex</div>
<hr>
<img>
<div class="staff-name">Margaret</div>
<hr>
<img>
<div class="staff-name">Mike</div>
<hr>
<img>
<div class="staff-name">Nathanael</div>
<hr>
<img>
<div class="staff-name">Demetri</div>
<hr>
